* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
  background-color: hsl(47, 88%, 63%);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: hsl(0, 0%, 100%);
  max-width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border: solid 2px black;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px black;
}

@media (min-width: 800px) {
  main {
    max-width: 400px;
  }
}

main :is(.categorie-container, .date, .main-title, .description, .publisher) {
  width: 100%;
}

.main-img {
  border-radius: 10px;
  width: 100%;
}

.categorie-container {
  font-weight: 800;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

.categorie {
  background-color: hsl(47, 88%, 63%);
  padding: 0.5ch 1.5ch;
  border-radius: 5px;
}

.date {
  font-weight: 600;
  margin: 1rem;
}

.main-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.description {
  color: hsl(0, 0%, 50%);
  margin-bottom: 1rem;
}

.publisher {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 800;
}

.publisher img {
  height: 2.5rem;
}
